input {
    padding: 8px;
    font-size: 20px;
    border-width: 3px;
    border-radius: 10px;
    border-color: black;
}

input:focus {
    outline:none;
}

.register{
    padding-left: 10px;
}

.titlelogin{
    padding-left:17%;
    text-align: left;
}

.login-card{
    text-align: center;
    height:220px;
    width:200px;
    margin-top: 15%;
    margin-left: 44%;
}
@media(max-width: 800px){
    .login-card{
    margin-top: 15%;
    margin-left: 25%;
    }
}