input {
    padding: 8px;
    font-size: 20px;
    border-width: 3px;
    border-radius: 10px;
    border-color: black;
}
input:focus {
    outline:none;
}

.register{
    padding-left: 10px;
}
.login-card{
    position: absolut;
    margin-top: 15%;
    margin-left: 43%;
    margin-right: 45%;
}