input {
    padding: 8px;
    font-size: 20px;
    border-width: 3px;
    border-radius: 10px;
    border-color: black;
}
input:focus {
    outline:none;
}
.register {
    max-width: 300px;
    margin: auto;
    border-style: solid;
    border-radius: 30px;
    margin-top: 250px;
}
.register-card{
    position: absolut;
    margin-top: 15%;
    margin-left: 43%;
    margin-right: 43%;
}
.alreadyRegistered{
    padding-left: 10px;
}